@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Rubik&display=swap");

.home-container {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: auto;
}

/*USER-INFO SECTION*/

.user-info {
  max-height: 700px;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: inherit;
  justify-content: space-evenly;
  align-items: center;
}
.bg-img {
  left: 20%;
  top: 0;
  z-index: -1;
  position: absolute;
  opacity: 0.1;
}
.user-info-text {
  align-items: center;
}
.user-info-text span {
  font-size: 42px;
}
.user-info-text h2 {
  word-spacing: 10px;
  text-align: left;
  justify-content: center;
  align-items: center;
  color: #ebc0ff;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
}
.user-info-text h2 #name {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.user-info-text p {
  color: #ebc0ff;
  padding: 3rem 0;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
}
#user-info-img {
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
}
#user-info-img img {
  width: 70%;
}

/*INTRO SECTION*/

.intro {
  display: flex;
  height: 550px;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
  padding-bottom: 2rem;
}
.intro-text {
  width: 60%;
  color: #ebc0ff;
}
.intro-text span {
  font-weight: 600;
  font-style: italic;
}
.intro h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  text-align: center;
  padding: 2rem;
}
.intro p {
  text-transform: capitalize;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: left;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.intro-img img {
  width: 100%;
}

/*FIND-ME SECTION*/

.find-me {
  color: #ebc0ff;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}
.find-me span {
  font-weight: 600;
  font-style: italic;
}
.find-me h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Questrial", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  text-align: center;
}
.find-me p {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
.find-me-img {
  position: relative;
  top: 1.5rem;
  padding-bottom: 3rem;
}
.find-me-img a {
  all: unset;
  width: 100px;
  background: #fff;
  padding: 7px;
  margin: 10px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.find-me-img img {
  top: 3px;
  position: relative;
  width: 15px;
  text-align: center;
  transition: all 0.4s ease-in;
}
.find-me-img a:hover {
  box-shadow: 0 0 11px 2px #9519cf, 0 0 5px 1px #ebc0ff;
  transition: all 0.4s ease-out;
}

/*MEDIA QUERIES*/

@media (max-width: 1024px) {
  .user-info-text h2 {
    font-size: 32px;
  }
  .user-info-text span {
    font-size: 36px;
  }

  .intro h3 {
    font-size: 24px;
  }
  .intro p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .user-info,
  .intro {
    height: auto;
    flex-direction: column;
    text-align: center;
  }

  .user-info-text h2 {
    font-size: 28px;
    padding: 0.5rem;
  }
  .user-info-text span {
    font-size: 32px;
  }
  .user-info-text p {
    font-size: 20px;
    padding: 1rem;
  }

  .intro h3 {
    font-size: 22px;
  }
  .intro p {
    font-size: 12px;
    padding: 0.7rem;
  }
  .intro-text {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .user-info {
    flex-direction: column;
    text-align: center;
    height: auto;
  }
  .user-info-text span {
    font-size: 28px;
  }
  .user-info-text h2 {
    font-size: 24px;
  }
  .user-info-text p {
    font-size: 18px;
  }
  #user-info-img img {
    width: 80%;
  }

  .intro {
    flex-direction: column;
    height: auto;
  }
  .intro h3 {
    font-size: 20px;
  }
  .intro p {
    font-size: 14px;
  }

  .find-me h1 {
    font-size: 28px;
  }
  .find-me p {
    font-size: 12px;
  }
  .find-me-img a {
    padding: 5px;
  }
  .find-me-img img {
    top: 3px;
    width: 15px;
  }
}
